# Interpreta como php arquivos html
AddType x-httpd-php .php .htm .html

# Define a página principal como a index.php
DirectoryIndex index.php

# Evita a listagem de diretórios
Options -Indexes

# Páginas de erro
ErrorDocument 404 /erro.html
ErrorDocument 403 /erro.html
ErrorDocument 401 /erro.html
ErrorDocument 408 /erro.html
ErrorDocument 500 /erro.html
ErrorDocument 502 /erro.html